# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User spesific settings
CMakeUserPresets.json

# Build directory
build/
cmake-build-*/

# VS code things
.vscode/
.vs/

# Clangd things
compile_commands.json
.cache/

# Ignore large datasets
datasets/
